module zabbix-agent 1.0;
require {
        type tmp_t;
        type zabbix_agent_t;
        type named_cache_t;
        type unconfined_t;
        type rpcbind_t;
        type init_t;
        type auditd_t;
        type syslogd_t;
        type initrc_t;
        type system_dbusd_t;
        type proc_net_t;
        type ntpd_t;
        type kernel_t;
        type postfix_qmgr_t;
        type named_t;
        type postfix_master_t;
        type udev_t;
        type postfix_pickup_t;
        type sshd_t;
        type crond_t;
        type getty_t;
        type fcoemon_t;
        type rpcd_t;
        type lldpad_t;
        type rpm_script_t;
        type rpm_t;
        type logwatch_mail_t;
        type logwatch_t;
        type postfix_cleanup_t;
        type postfix_local_t;
        type postfix_postdrop_t;
        type system_cronjob_t;
        type system_mail_t;
        class capability { dac_read_search dac_override };
        class dir { write add_name remove_name};
        class chr_file read;
        class file { write read lock create open append getattr unlink };
}

#============= zabbix_agent_t ==============
allow zabbix_agent_t self:capability { dac_read_search dac_override };
allow zabbix_agent_t tmp_t:dir { write add_name remove_name};
allow zabbix_agent_t tmp_t:file { write lock create open append read unlink };
allow zabbix_agent_t auditd_t:file { getattr open read };
allow zabbix_agent_t crond_t:file { getattr open read };
allow zabbix_agent_t fcoemon_t:file { getattr open read };
allow zabbix_agent_t getty_t:file { getattr open read };
allow zabbix_agent_t init_t:file { getattr open read };
allow zabbix_agent_t initrc_t:file { getattr open read };
allow zabbix_agent_t kernel_t:file { getattr open read };
allow zabbix_agent_t lldpad_t:file { getattr open read };
allow zabbix_agent_t named_cache_t:file { getattr open read };
allow zabbix_agent_t named_t:file { getattr open read };
allow zabbix_agent_t ntpd_t:file { getattr open read };
allow zabbix_agent_t postfix_master_t:file { getattr open read };
allow zabbix_agent_t postfix_pickup_t:file { getattr open read };
allow zabbix_agent_t postfix_qmgr_t:file { getattr open read };
allow zabbix_agent_t proc_net_t:file { getattr open read };
allow zabbix_agent_t rpcbind_t:file { getattr open read };
allow zabbix_agent_t rpcd_t:file { getattr open read };
allow zabbix_agent_t sshd_t:file { getattr open read };
allow zabbix_agent_t syslogd_t:file { getattr open read };
allow zabbix_agent_t system_dbusd_t:file { getattr open read };
allow zabbix_agent_t udev_t:file { getattr open read };
allow zabbix_agent_t unconfined_t:file { getattr open read };
allow zabbix_agent_t rpm_script_t:file { getattr open read };
allow zabbix_agent_t rpm_t:file { getattr open read };
allow zabbix_agent_t logwatch_mail_t:file { getattr open read };
allow zabbix_agent_t logwatch_t:file { getattr open read };
allow zabbix_agent_t postfix_cleanup_t:file { getattr open read };
allow zabbix_agent_t postfix_local_t:file { getattr open read };
allow zabbix_agent_t postfix_postdrop_t:file { getattr open read };
allow zabbix_agent_t system_cronjob_t:file { getattr open read };
allow zabbix_agent_t system_mail_t:file { getattr open read };
